.App {
  display: flex;
}

.list {
  list-style: none;
  margin-left: 5rem;
  width: 20%;
}

.item {
  padding: 20px;
  border: 1px solid gray;
}

.Details-Container {
  margin-left: 5rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.Details-Container div {
  min-height: 3rem;
  border: 1px solid gray;
}

.Details-userName, .Details-city, 
.Details-company, .Details-position {
  padding-left: 2rem;
  font-weight: 500;
}